<div class="bimg"></div>
<label for="" dir="rtl" style="float: right;">
    האתר עדיין בבניה. גרסה זו נועדה להתרשמות כללית ובדיקות הרצה. <br> <b>אנא המתן מספר שניות לטעינת הנקודות על המפה.</b>
</label>
<br>
<label for="" dir="ltr" style="float: left;">
    The site is still under construction. This version contains many buggs and errors, and is used for internal purpose only. <br> <b>Please wait a few seconds for points to load on the map.</b>
</label>
<br>
<button mat-button [mat-dialog-close] style="cursor: pointer; margin-top: 18px;">OK</button>