<mat-toolbar class="toolbarNav backF">
    <div>
        <img style="padding-left: 0.6cm; padding-top: 0.4cm;" src="assets/picture/barIlanToolB.svg" alt="">
        <img style="padding-left: 2.5cm; padding-right: 0.4cm;" src="assets/picture/mhamada.svg" alt="">
    </div>
    <div style="right: 15px;">
        <img style=" width: 220px; height: 60px;" *ngIf='he' src="assets/picture/He-large.png" alt="">
        <img style=" width: 220px; height: 60px;" *ngIf='en' src="assets/picture/En-large.png" alt="">
    </div>
</mat-toolbar>