
<label *ngIf="computes.locationToViewshed" for="" style="margin-left: 5%;">{{'viewShed.selectLocation'|translate}}</label>




<!--<div class="help div"><a routerLink="Tutorial" routerLinkActive="router-link-active" class="help link">{{'Tooltips.help'|translate}}</a><span class="material-icons" style="position: initial; font-size: 18px;">help</span></div>-->
<a style="display: block; cursor:pointer;" (click)="openTutorial()" class="help-div"><div class="help-link">{{'Tooltips.help'|translate}}</div><span class="material-icons" style="position: initial; font-size: 18px;">help</span></a>
<!--<a style="display: block; cursor:pointer;" (click)="openDialog('viewshedHelp')" class="help-div"><div class="help-link">Clear Calc</div><span class="material-icons" style="position: initial; font-size: 18px;">help</span></a>-->

      <button id="clear" *ngIf="computes.locationToViewshed" for="" mat-button (click)="clearCalc()" style="flex-direction: row;
      align-items: flex-start;
      position: relative;
      font-family: Rubik;
      border: 1px solid #292852;
      box-sizing: border-box;
      border-radius: 5px;
      top: 50%;">{{'viewShed.del'|translate}}</button>

<!--<a [ngClass]="{'help-link-show':!he, 'help-link-hide':he}" routerLink="Tutorial" routerLinkActive="router-link-active" class="help-div"><div class="help-link">עזרה</div><span class="material-icons" style="position: initial; font-size: 18px;">help</span></a>
<a [ngClass]="{'help-link-show':he, 'help-link-hide':!he}" routerLink="Tutorial" routerLinkActive="router-link-active" class="help-div"><div class="help-link">help</div><span class="material-icons" style="position: initial; font-size: 18px;">help</span></a>-->

<!--<div [ngClass]="{'showLink':he, 'hideLink':!he}"><a style="display: block;" routerLink="Tutorial" routerLinkActive="router-link-active" class="help div"><div class="help link">עזרה</div><span class="material-icons" style="position: initial; font-size: 18px;">help</span></a></div>
<div [ngClass]="{'showLink':!he, 'hideLink':he}"><a style="display: block;" routerLink="Tutorial" routerLinkActive="router-link-active" class="help div en"><span class="material-icons" style="position: initial; font-size: 18px;">help</span><div class="help link en">help</div></a></div>-->
<form validate *ngIf="!computes.locationToViewshed" [formGroup]="computes.viewShedForm">


    <label style="font-size: 18px;" for="">{{'viewShed.viewShed'|translate}}</label>
    <br>
    <label style="font-size: 14px;" for="">{{'viewShed.viewShedInsertParameters'|translate}}</label>
    <table>
        <tr>
            <td style="padding: 2px">
                <mat-form-field style="width: 130px;">
                    <input [ngClass]="{'meterHe':he, 'meterEn':!he}" matInput type="text" onlyNumber formControlName="height" placeholder="{{'viewShed.viewShedHeight'|translate}}" autocomplete="off" />
                    <div *ngIf="computes.viewShedForm.get('height').errors">{{'viewShed.errorH'|translate}}</div>
                </mat-form-field>
            </td>
            <td style="padding: 2px; ">
                <mat-form-field style="width: 130px; ">
                    <input [ngClass]="{'meterHe':he, 'meterEn':!he}" (keyup)="computes.keyupViewShed(computes.viewShedForm.get('radius').value)" matInput type="text " onlyNumber formControlName="radius" placeholder="{{'viewShed.viewShedRadius'|translate}} " autocomplete="off"
                    />
                    <div *ngIf="computes.viewShedForm.get('radius').errors">{{'viewShed.errorR'|translate}}</div>
                </mat-form-field>
            </td>
        </tr>
    </table>


    <button *ngIf="!reCalc" mat-button [disabled]="computes.viewShedForm.get('radius').errors?.required || computes.viewShedForm.get('height').errors?.required" style="flex-direction: row;
    align-items: flex-start;
    position: relative;
    font-family: Rubik;
    border: 1px solid #292852;
    box-sizing: border-box;
    border-radius: 5px;" (click)="calculationViewshed() ">{{'viewShed.calculation'|translate}}</button>


    <button *ngIf="reCalc" mat-button [disabled]="computes.viewShedForm.get('radius').errors?.required || computes.viewShedForm.get('height').errors?.required" style="flex-direction: row;
        align-items: flex-start;
        position: relative;
        font-family: Rubik;
        border: 1px solid #292852;
        box-sizing: border-box;
        border-radius: 5px;" (click)="recalculationViewshed()">{{'walkingPath.recalculate'|translate}}</button>



    <div *ngIf="isLoadingViewShed ">
        <br>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</form>