<div id="host" #host class="four">
    <img class="back" src="./assets/picture/Group.png">
    <p class="host">{{'information.Host'|translate}}</p>
    <div class="divide">
        <div class="imagess">
            <img class="line1" src="assets/picture/BarIlan.svg" alt="">
            <img class="line2" src="assets/picture/mhamadahost.svg" alt="">
            <img class="line3" src="assets/picture/mapi.png" alt="">
            <img class="line4" style="top: 0; height: 50px; width: 200px;" src="assets/picture/AntiquitiesAuthority.png" alt="">
        </div>
        <div class="expl line1">
            <a href="https://www.biu.ac.il/" target="_blank" class="line1" for="">{{'information.Bar'|translate}}</a>
            <a href="https://www.gov.il/he/departments/ministry_of_science_and_technology" target="_blank" class="line2" style="font-size: 14px;"> {{'information.Ministry'|translate}}</a>
            <a href="https://www.mapi.gov.il/Pages/default.aspx" target="_blank" class="line3" style="font-size: 14px;"> {{'information.Survey'|translate}}</a>
            <a href="http://www.antiquities.org.il/" target="_blank" class="line4" style="font-size: 14px;"> {{'information.Antiquities'|translate}}</a>
        </div>
    </div>
</div>