<div class="z">
    <div *ngIf="data.num==1">
        <div class="zich">
            <h4 style="text-align: center;">{{'information.lezB'|translate}}</h4>
            <cdk-virtual-scroll-viewport itemSize="40" style="height: 540px; direction: rtl;">
                <div style="padding: 5px;">
                    <p>
                        שלמה בונימוביץ, מבכירי הארכיאולוגים של ארץ-ישראל בתקופת המקרא, נפטר בי"ט בכסלו תשפ"א (5 בדצמבר 2020), בגיל 68 בלבד, לאחר מאבק במחלת הסרטן.
                    </p>
                    <p>
                        שלמה היה איש שטח ואיש ספר, חוקר מוביל, מורה אהוב, ישר כסרגל ופרפקציוניסט במחקר ובהוראה.
                    </p>
                    <p>
                        שלמה נולד בתל אביב בשנת תשי"ג (21 בנובמבר 1952). הוא החל את לימודיו לתואר הראשון באוניברסיטת תל אביב בשנת 1975, ושם רכש את כל תאריו. עבודת הגמר שלו לתואר השני היתה "מכירוקיטיה לאנקומי: דגם משולב לשינוי התרבותי בקפריסין מהתקופה הניאוליתית ועד לתקופה הקיפרית
                        המאוחרת". עבודת הדוקטורט פורצת הדרך שלו עסקה ב"ארץ ישראל בתקופת הברונזה המאוחרת: מקרה מבחן לשינוי חברתי-תרבותי בחברה מורכבת". שתי העבודות נכתבו בהדרכתה של פרופ' אורה נגבי. במהלך לימודיו השתתף שלמה בחפירות ובסקרים רבים, החל מחפירות
                        משה כוכבי באפק, בהן שימש כמנהל שטח, דרך חפירות בסיני ותל עירא בהדרכת יצחק בית אריה, חפירות זאב משל בכונתילת עג'רוד, הסקר של רם גופנא בשרון, ועד חפירות שילה ופרוייקט הסקר בהר אפרים, בהם שימשו הוא וצבי לדרמן כמנהלים שותפים עם ישראל
                        פינקלשטיין.
                    </p>
                    <p>
                        החל משנת תשל"ח (1978) – במקביל לסיום לימודיו לתואר השני – החל שלמה ללמד בחוג לארכיאולוגיה באוניברסיטת תל אביב, שם לימד עד פטירתו. במקביל, הוא לימד במשך שנים רבות גם במחלקה ללימודי ארץ-ישראל באוניברסיטת בר אילן.
                    </p>
                    <p>
                        בשנת תש"ן (1990) החל שלמה, יחד עם צבי לדרמן, את מפעל החפירות בתל בית שמש – פרוייקט שנמשך עד פטירתו, והיה אחת מגולות הכותרת של פעילותו המדעית. תל בית שמש, מהאתרים המרכזיים של תקופת המקרא, שימש עבור שלמה בונימוביץ וצבי לדרמן כר נרחב לא רק לקידום טכניקות
                        חפירה והכנסת טכנולוגיות מתקדמות (חפירות תל בית שמש היו מהראשונות להכניס את המחשב כחלק אינטגרלי מתהליך התיעוד), אלא גם כשדה פעולה פרשני. בניגוד למרבית החפירות, הושם בחפירות תל בית שמש דגש רב לא רק על השאלות ההיסטוריות המרכזיות,
                        אלא גם על שאלות של זהות, טכנולוגיה, יחסים בין-תרבותיים ועוד. הממצאים מהחפירות הוצגו בעשרות מאמרים והרצאות בכנסים, וגולת הכותרת היו כמובן שני כרכי הדו"ח הסופי של עונות 1990-2000 שפורסמו בסדרת הדוחו"ת של המכון לארכיאולוגיה של אוניברסיטת
                        תל אביב (Bunimovitz, S. and Z., Lederman, 2016, Tel Beth-Shemesh: A Border Community in Judah. Renewed Excavations 1990–2000: The Iron Age. Winona Lake: Eisenbrauns and Tel Aviv University.).
                    </p>
                    <p>
                        מלבד פרויקט החפירות בבית שמש, ייזכר שלמה כחוקר שהוביל להכנסת גישות אנתרופולוגיות – תהליכיות ואחר כך בתר-תהליכיות – למחקר הארכיאולוגי של ארץ-ישראל בתקופת המקרא. גישות אלו, אשר העמידו במרכז שאלות חברתיות וקוגניטיביות, לא רווחו בארכיאולוגיה הארץ-ישראלית
                        (להוציא את שדה המחקר הפרה-היסטורי), ורבים אף התנגדו להן בתוקף. הגישה האנתרופולוגית-חברתית, המהווה אבן יסוד של המחקר הארכיאולוגי בעולם, לא היוותה חלק מסדר היום של הארכיאולוגיה הישראלית אשר התמקדה בעיקר בשאלות היסטוריות ושלמה נחשף
                        לגישות מחקריות מובילות אלה כאשר כתב את עבודת המאסטר שלו על קפריסין. דרכו המחקרית הובילה אותו אל ספרו המכונן של קולין רנפרו על ראשית הציביליזציה בעולם האגאי (The Emergence of Civilisation: The Cyclades and the Aegean in The Third
                        Millennium BC). ספר זה, לדבריו, חשף בפניו עולם ומלואו. שלמה נשבה בקסמן של גישות אלו שהשפיעו מאד על עבודת הדוקטורט החלוצית שלו על ארץ ישראל בתקופת הברונזה המאוחרת. שלמה התמחה בגישות אלו, הרצה עליהן וכתב עליהן. מחקריו המוקדמים על
                        סוללות הברונזה התיכונה, המבנה הפוליטי בברונזה המאוחרת, והגדרת הזהות הפלשתית נחשבים עד היום לחלוצים ומשפיעים. עבודותיו המקיפות על תקופת הברונזה המאוחרת, על הפלשתים ועל מערכות היחסים שבין ישראלים, כנענים ופלשתים – כולן בדגש חברתי-אנתרופולוגי
                        – מהוות אבני דרך במחקר.
                    </p>
                    <p>
                        שלמה גם דחף את תלמידיו לפתח מחקרים בכיוונים אלו, ורבים מתלמידיו מובילים את השימוש בגישות אלו ובהנגשתן לתלמידיהם שלהם.
                    </p>
                    <p>
                        שלמה היה פרפקציוניסט. כל מילה שכתב היתה צריכה להיות מושלמת, והוא לא המשיך בכתיבתו לפני שכל משפט ופסקה היו לא רק מבוססים אלא גם כתובים היטב ובשפה עשירה. כתלמידו נחשפתי למלוא קפדנותו בהצעת המחקר שכתבתי לעבודה לתואר שני על ההתיישבות הכפרית בארץ-ישראל בתקופת
                        הברזל ב'. הייתי גאה מאד בנושא שבחרתי, בחומר הרב שהצלחתי לאסוף על נושא שלא זכה עד אז כמעט להתייחסות במחקר, כמו גם בכיווני המחקר המבטיחים שאליהם סברתי יכולה העבודה להוביל, ובעיקר להקשרים החברתיים של המידע. לאחר שנתתי לשלמה את הטיוטה
                        הראשונה של הצעת המחקר, המתנתי בדריכות עד שהוא יסיים את הקריאה, ואז נפגשנו לעבור עליה. שלמה הביא עמו את ההצעה כשהיא אדומה לחלוטין מהערותיו (שנכתבו בדרך כלל בעט אדום). במשך כשלש שעות הוא עבר איתי על הערותיו אחת אחרי השנייה, כשכל
                        אותו זמן המתנתי גם למילה טובה על עצם הגדרת הנושא, על החומר הרב יחסית שמצאתי ועל הפוטנציאל של העבודה. לאחר ששלמה סיים לעבור על הערותיו ווידא שהבנתי אותן, שאלתי אותו "ומה דעתך על הרעיון?". שלמה חשב לרגע והשיב "עם כל הבלגן הזה לא
                        ראיתי שום רעיון. תתקן, תחזיר, ואז נדבר על הרעיון". במשך מספר חודשים שיחקנו "פינג פונג" עם טיוטות של ההצעה עד שהיא הניחה את דעתו. כתיבת הצעת המחקר היתה חוויה מעצבת, ובמשך חודשים אלו התקדמתי בכתיבה אקדמית יותר מאשר בכל תקופה אחרת
                        בקריירה האקדמית שלי. פרפקציוניזם דומה איפיין את עבודתנו המשותפת במאמרים שפרסמנו יחד, כמו גם בתפקידו כיושב ראש ועדת ההיגוי של מרכז הידע הלאומי לתולדות ירושלים וסביבותיה ומורשתן. תמיד ידעתי – והיתה בכך הקלה רבה – שאם שלמה מאשר נוסח,
                        לא צריך לבדוק אותו פעם נוספת, ושיותר טוב מזה הדברים לא יכולים להיות.
                    </p>
                    <p>
                        יש להדגיש שהפרפקציוניזם של שלמה הופנה בראש ובראשונה כלפי עצמו. שלמה כתב מספר ספרים ועשרות רבות של מאמרים, וכל אחד מהם היה כתוב וערוך בקפידה, עשיר מבחינת השפה, מעודכן מבחינת הספרות המקצועית, הנתונים, והגישות התיאורתיות, ובנוי לתלפיות מבחינת הטיעון והמבנה.
                        אוסיף ואומר שכל הרצאה שנשא שלמה בכנס היתה חידוש חשוב, והיתה ראויה להתפרסם כמאמר – וחבל על כל אחת שלא התפרסמה.
                    </p>
                    <p>
                        פרפקציוניזם זה בא לידי ביטוי כמובן גם בחפירות תל בית שמש, שהיו מהקפדניות ביותר שראיתי ושבהן זכיתי להשתתף.
                    </p>
                    <p>
                        למרות קפדנותו והסטנדרטים הגבוהים שדרש, היה שלמה מורה פופולרי ואהוב ותלמידים שהעריכו את יכולותיו האינטלקטואליות, כמו את יושרו, נקבצו לקורסים שלו.
                    </p>
                    <p>
                        למרות פטירתו בטרם עת, הטביע שלמה בונימוביץ חותם משמעותי על הארכיאולוגיה של ארץ-ישראל, התווה כיווני מחקר חדשניים ופורצי דרך, והעמיד תלמידים ותלמידי תלמידים.
                    </p>
                    <p>
                        שלמה הותיר אחריו את אשתו שוש, וילדיו יונתן ונעמה.
                    </p>
                    <p>
                        חבל על דאבדין ולא משתכחין.
                    </p>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div>
            <img style="height: 350px; width: 300px; float: right; padding: 5px;" src='assets/picture/Shlomo_Portrait.jpg'>
        </div>
        <br>
        <div style="font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
        float: right;">
            <h6 for="" style="top: 360px; float: right; color: white;">צילום: צבי לדרמן</h6>
            <br> {{'information.Bunimovitz'|translate}}
        </div>
    </div>
    <div *ngIf="data.num==2">
        <div class="zich">
            <h4 style="text-align: center;">{{'information.lezJ'|translate}}</h4>
            <cdk-virtual-scroll-viewport itemSize="40" style="height: 540px; direction: rtl;">
                <p>
                    <a href="https://enressh.eu/in-memory-of-judit-bar-ilan/" target="_blank"></a> פרופ' יהודית בר אילן ז"ל סיימה דוקטורט במדעי המחשב באוניברסיטה העברית בירושלים ב-1990, ובשנות התשעים היתה חברת סגל בבית ספר למידענות וארכיונאות באוניברסיטה העברית. החל משנת 2002 היא הייתה מרצה בכירה, פרופסור חבר ופרופסור מן המניין
                    (2010) במחלקה למדעי המידע באוניברסיטת בר אילן. יהודית היתה חוקרת דגולה ומבריקה בעלת שם עולמי ואופק מחקרי רחב מאוד בתחומי מדעי המידע. יחד עם זאת הייתה אדם צנוע ואמפתי, דיברה תמיד בגובה העיניים, וראתה רק טוב בכל אדם. בין השאר היא כיהנה
                    כראש המחלקה למדעי המידע (2008–2012), וכן הייתה יושבת ראש ארגון הסטנדרטים של האינטרנט הישראלי, יושבת ראש מלמ"ד, יושבת ראש ועדת מערך הספריות בבר אילן, יושבת ראש ועדת האתיקה של הפקולטה למדעי הרוח, אחת ממקימות המכון למדע הנתונים בבר אילן,
                    חברת מערכת ביותר מעשרה כתבי עת אקדמיים מובילים, דוגמת Scientometrics, JASIS&T ו- PLOSOne, חברת הועדה המארגנת של עשרות כנסים, עורכת ראשית ומקימה של כתב העת Altmetrics Journal of, ועוד.
                </p>
                <p>
                    למרות הכמות האדירה של תפקידים שמילאה גם בשנותיה האחרונות במקביל למאבק הירואי במחלת הסרטן, היא היתה גם מנטורית של חוקרים צעירים רבים. למעשה, יהודית הייתה מעין "אמא אקדמית" להרבה חוקרים וחוקרות שכל אחד ואחת מהם הרגישו אצלה כבן או בת יחיד/ה. בזכות האמון
                    והתמיכה שלה, עצותיה המתודיות המקצועיות והערות בונות לטיוטות של מאמרים והצעות מחקר רבים ששלחו חוקרים צעירים אליה כדי לשמוע את חוות דעתה, יכלו חניכיה הרבים ללמוד ולפתח קריירה אקדמית מצליחה.
                </p>
                <p>
                    פרופ' בר אילן כתבה מעל 300 מאמרים אקדמיים. ה-h-index שלה בגוגל סקולר, שממשיך לנסוק גם אחרי מותה, עומד כיום על 50 ומספר הציטוטים עומד על כ-10,000. המצוינות האקדמית של יהודית באה לידי ביטוי גם במענקים ובפרסים הרבים שזכתה בהם, כפרס דרק דה סולה של כתב העת
                    Scientometrics ב-2017, ופרס המחקר של האגודה למדעי המידע ASIS&Tב-2018. ביום מותה היא זכתה במענק ISF! העדות המדהימה ביותר לחותם העצום שהשאירה, וגדולתה הן כחוקרת הן כשותפה וחברה היא העובדה שמיום מותה ועד היום פורסמו בשמה 6 מאמרים חדשים(!)
                    בכתבי עת בינלאומיים על ידי שותפיה למחקרים, מחקרים שהספיקה להתחיל בחייה והניבו פרי מאוחר יותר.
                </p>
                <p>
                    כשביקשנו מיהודית להצטרף לוועדת ההיגוי של מרכז הידע לתולדות ירושלים, היא הסכימה מיד ללא היסוס. איך מצאה זמן לכך על אף תפקידיה הרבים? כנראה בזכות האהבה והמסירות האינסופית שלה לבני אדם ולמדע. יהודית לא הפסידה אף פגישה של הוועדה. גם כאשר מחלתה הקשתה עליה
                    בחודשים האחרונים לחייה השתתפה יהודית בפגישות מרחוק, הייתה חדה ועניינית, ותרמה רבות לדיון ולבניית דרכו של מרכז הידע הנבנה. יהודית ז"ל נמצאת בליבנו תמיד, ותרומתה הכבירה ומורשתה המדעית והאנושית תמשיך ללוות אותנו ותהווה מודל לחיקוי עבורנו
                    ועבור רבים אחרים.
                </p>
                <p>
                    להלן קישורים לכמה מההספדים שיצאו לזכרה באקדמיה על ידי עמיתיה ברחבי העולם:
                    <br>
                    <a href="https://enressh.eu/in-memory-of-judit-bar-ilan/" target="_blank">https://enressh.eu/in-memory-of-judit-bar-ilan/</a>
                    <br>
                    <a href="https://www.mitpressjournals.org/doi/full/10.1162/qss_e_00024" target="_blank">https://www.mitpressjournals.org/doi/full/10.1162/qss_e_00024</a>
                    <br>
                    <a href="https://www.asist.org/2019/07/18/in-memoriam-professor-judit-bar-ilan/" target="_blank">https://www.asist.org/2019/07/18/in-memoriam-professor-judit-bar-ilan/</a>
                    <br>
                    <a href="https://link.springer.com/article/10.1007/s11192-019-03237-2" target="_blank">https://link.springer.com/article/10.1007/s11192-019-03237-2</a>
                    <br>
                    <a href="https://ischools.org/News/7783475" target="_blank">https://ischools.org/News/7783475</a>
                    <br>
                    <a href="https://www.springer.com/journal/11192/updates/18059440" target="_blank">https://www.springer.com/journal/11192/updates/18059440</a>
                </p>
            </cdk-virtual-scroll-viewport>
        </div>
        <div>
            <img style="float: right; padding: 5px;" src="assets/picture/s200_judit_bar-ilan.jpg" alt="">
        </div>
        <div style="font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
        float: right;">
            {{'information.jehudit'|translate}}
        </div>
    </div>
</div>