.my-list {
    height: 140px;
    overflow: auto;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(40, 41, 82, 1) !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgba(40, 41, 82, 1) !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgba(40, 41, 82, 1) !important;
}