<div class="first">
    <img class="imagePlace" src="assets/picture/shutterstock_125995700 1.png" alt="">
    <div id="gold" #gold class="gold">
        <p class="purp inf">{{'information.jerofgold'|translate}}</p>
        <img class="mha1" src="assets/picture/Logo about brown.png" alt="">
        <p class="inf inf1" [ngClass]="'LANGUAGE' | translate">
            {{'information.Settled'|translate}}
        </p>
    </div>
    <div class="pur">
        <img class="mha2" src="assets/picture/Logo about blue.png" alt="">
        <p class="jer inf">
            {{'information.Purpose'|translate}}
        </p>
        <div class="inf2" [ngClass]="'LANGUAGE' | translate">
            <div class="inf">
                {{'information.goal'|translate}}
            </div>
            <div class="inf">
                {{'information.platform'|translate}}
            </div>
            <div class="inf">
                {{'information.funded'|translate}}
            </div>
        </div>
    </div>

</div>