<div [hidden]="!showViewshed" class="bimg">
<label for="" dir="rtl" style="float: right;">
    Viewshed Tutorial<br>
</label>
<br>
<label for="" dir="ltr" style="float: left;">
</label>
<br>
<button mat-button [mat-dialog-close] style="cursor: pointer; margin-top: 18px;">OK</button>
</div>

<div [hidden]="!showDistanceTime" class="bimg">
<label for="" dir="rtl" style="float: right;">
  Distance-Time Tutorial <br>
</label>
<br>
<label for="" dir="ltr" style="float: left;">
</label>
<br>
<button mat-button [mat-dialog-close] style="cursor: pointer; margin-top: 18px;">OK</button>
</div>


<div [hidden]="!showAzimuth" class="bimg">
<label for="" dir="rtl" style="float: right;">
  Azimuth Tutorial<br>
</label>
<br>
<label for="" dir="ltr" style="float: left;">
</label>
<br>
<button mat-button [mat-dialog-close] style="cursor: pointer; margin-top: 18px;">OK</button>
</div>